$letters-color: rgb(153, 0, 0);
$letters-shadow: rgb(161, 97, 0);

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateZ(100px) translateY(-100px) rotateX(45deg);
  }
  to{
    transform: translateZ(0px) translateY(0px) rotateX(0deg);
    opacity: 1;
  }
}

.home-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        
        // animation: 1.5s ease-in 12s 1 appear;
        color: $letters-color;
        font-size: 3rem;
        margin: 2rem 0;
        padding: 2rem 1rem;
        text-shadow: 1px 1px 1px $letters-shadow,
            1px 2px 1px $letters-shadow,
            1px 3px 1px $letters-shadow,
            1px 4px 1px $letters-shadow,
            1px 5px 1px $letters-shadow,
            1px 6px 1px $letters-shadow,
            1px 7px 1px $letters-shadow,
            1px 8px 1px $letters-shadow,
            1px 9px 1px $letters-shadow,
            1px 10px 1px $letters-shadow,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
        
        @media only screen and (min-width: 600px) {
            font-size: 7rem;
        }
    }

    &__gauntlet {
      // animation: 3s ease-in 12s 1 fadeIn;
      font-size: .5rem;
        
      @media only screen and (min-width: 600px) {
          font-size: .7rem;
      }
    }
}