<audio #titleAudio 
  autoplay>
  <source src="/assets/title-audio.mp3" type="audio/mp3">
</audio>
<main class="home-page">
  <h1 class="home-page__title">The Snappening</h1>
  <snp-gauntlet 
    class="home-page__gauntlet"
    routerLink="/snap"></snp-gauntlet>
</main>
