<main class="players-page">
  <div
    class="players-page__container container"
    *ngIf="avengers">
    <a routerLink='/play'class='playBut'>
      <svg version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
        x="0px" y="0px" width="213.7px" height="213.7px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
        xml:space="preserve">
      
        <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
          73.5,62.5 148.5,105.8 73.5,149.1 "/>
        
        <circle class='circle' id="XMLID_17_" fill="none"  stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"/>
      </svg>
    </a>

    <div
      class="players-page__participants"
      [@listAnimation]="avengers.length">

      <div 
        class="players-page__participant"
        *ngFor="let avenger of avengers">{{avenger.name}}</div>
    </div>
  </div>
</main>

