@keyframes nudge{
    0% {
        transform: translateX(0)  
    }

    30% {
        transform: translateX(-5px)
    }

    50% {
        transform: translateX(5px)
    }

    70% {
        transform: translateX(-2px)
    }
    
    100% {
        transform: translateX(0)
    }
}

.players-page {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;

    &__participants {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 500px;
        padding: 0 0 2rem;
        width: 100%;
    }

    &__participant {
        background: #fff;
        color: black;
        padding: 1rem 2rem;
        height: 0%;
        // margin-bottom: 1rem;
        width: 100%;

        &:first-child{
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        &:last-child{
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    &__container {
        align-items: center;
        display: inline-flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        width: 100%;
    }

    .circle {
        stroke: #f8aa28;
        stroke-dasharray: 650;
        stroke-dashoffset: 650;
        transition: all 0.5s ease-in-out;
        opacity: 0.3;
    }
      
    .playBut {
        display: inline-block;
        transition: all 0.5s ease;
        
        .triangle {
            transition: all 0.7s ease-in-out;
            stroke-dasharray: 240;
            stroke-dashoffset: 480;
            stroke: #fff;
            transform: translateY(0) 
        }
        
        
        &:hover {
            .triangle {
                stroke-dashoffset: 0;
                opacity: 1;
                stroke: #f8aa28;
                animation: nudge 0.7s ease-in-out;
            }
          
            .circle {
                stroke-dashoffset: 0;
                opacity: 1;
            }
        }
    }
}