<div 
  [class]="'card ' + hero"
  libParticleEffectButton
  [pHidden]="hidden"
  pColor="#aaa"
  pParticlesAmountCoefficient="5">
  <div class="overlay"></div>

  <div class="circle">
    <img 
      alt="Cap"
      [src]="'../../../assets/img/'+hero+'.png'" >
  </div>

  <p>{{name}}</p>
</div>