.im {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
    --text-color-hover: #4C5656;
}

.th {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
    --text-color-hover: #4C5656;
}

.he {
    --bg-color: #CEB2FC;
    --bg-color-light: #F0E7FF;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
    --text-color-hover: #fff;
}

.ca {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
    --text-color-hover: #4C5656;
}

.bw {
    --bg-color: rgb(249, 184, 184);
    --bg-color-light: #fce2e2;
    --box-shadow-color: rgba(249, 184, 184, 0.48);
    --text-color-hover: rgb(86, 76, 76);
}

.nf {
    --bg-color: rgb(207, 207, 207);
    --bg-color-light: #e9e9e9;
    --box-shadow-color: rgba(167, 167, 167, 0.48);
    --text-color-hover: rgb(83, 83, 83);
}

.am {
    --bg-color: rgb(252, 251, 178);
    --bg-color-light: rgb(255, 253, 231);
    --box-shadow-color: rgba(206, 178, 252, 0.48);
    --text-color-hover: rgb(86, 85, 76);
}

.to {
    --bg-color: rgb(66, 66, 66);
    --bg-color-light: rgb(224, 224, 224);
    --box-shadow-color: rgba(167, 167, 167, 0.48);
    --text-color-hover: #fff;
}

.card {
    align-items: center;
    background: #fff;
    border-top-right-radius: 10px;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    height: 321px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-out;
    width: 220px;
}

.card:hover {
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
    transform: translateY(-5px) scale(1.005) translateZ(0);
}

.card:hover .overlay {
    transform: scale(4) translateZ(0);
}

.card:hover .circle {
    background: var(--bg-color);
    border-color: var(--bg-color-light);
}

.card:hover .circle:after {
    background: var(--bg-color-light);
}

.card:hover p {
    color: var(--text-color-hover);
}

.card:active {
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
    transform: scale(1) translateZ(0);
}

.card p {
    color: #4C5656;
    font-size: 17px;
    margin-top: 30px;
    transition: color 0.3s ease-out;
    z-index: 1000;
}

.circle {
    align-items: center;
    background: #fff;
    border: 2px solid var(--bg-color);
    border-radius: 50%;
    display: flex;
    height: 131px;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-out;
    width: 131px;
    z-index: 1;
}

.circle:after {
    background: var(--bg-color);
    border-radius: 50%;
    content: "";
    display: block;
    height: 118px;
    left: 5px;
    position: absolute;
    top: 4px;
    transition: opacity 0.3s ease-out;
    width: 118px;
}

.circle img {
    transform: translateZ(0);
    width: 70%;
    z-index: 99;
}

.overlay {
    background: var(--bg-color);
    border-radius: 50%;
    height: 118px;
    left: 50px;
    position: absolute;
    top: 70px;
    transition: transform 0.3s ease-out;
    width: 118px;
    z-index: 0;
}
