@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}

.avenger-page {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    min-height: 100vh;

    &__card {
        animation: 1s ease-in 0s 1 fadeIn;
        // &.disappear {
        //     animation: 3s ease-out 0s 1 fadeOut;
        //     opacity: 0;
        // }
    }
}