.face-container {
  background: #BA4F8F;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 41px;
  width: 68px;

  border-radius: 120px 120px 120px 120px;

  .eye-left,
  .eye-right {
    background: #842963;
    border-radius: 30%;
    height: 10px;
    position: absolute;
    top: 33px;
    width: 10px;

    .pupil {
      background: #fff;
      border-radius: 50% 50% 0 0;
      bottom: 0;
      height: 5px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
    }
  }

  .eye-left {
    left: 20px;
  }

  .eye-right {
    right: 20px;
  }

  .eyebrow-left,
  .eyebrow-right {
    background: #842963;
    height: 4px;
    position: absolute;
    top: 30px;
    width: 20px;
  }

  .eyebrow-left {
    left: 11px;
    transform: rotate(20deg);
  }

  .eyebrow-right {
    right: 11px;
    transform: rotate(-20deg);
  }

  .mouth {
    width: 40px;
    height: 18px;
    background: #371630;
    position: absolute;
    top: 60px;
    left: 14px;
    border-radius: 2px 2px 12px 12px;
    overflow: hidden;
    z-index: 40;

    .teeth-upper,
    .teeth-lower {
      position: absolute;
      background: #fff;
      left: 0;
      width: 100%;
      height: 4px;
    }

    .teeth-upper {
      top: 0;
    }

    .teeth-lower {
      bottom: 0;
    }

    .tongue {
      width: 20px;
      height: 6px;
      background: #BA4F8F;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .ear-left,
  .ear-right {
    width: 10px;
    height: 20px;
    background: #BA4F8F;
    position: absolute;
    border-radius: 20px;
    top: 50px;
  }

  .ear-left {
    left: -5px;
  }

  .ear-right {
    right: -5px;
  }

  .chin {
    width: 90px;
    height: 64px;
    background: #BA4F8F;
    position: absolute;
    top: 50px;
    left: -10px;
    border-radius: 30px 30px 40px 40px;
    z-index: 20;
    overflow: hidden;
    border-bottom: 6px solid #842963;

    .line {
      position: absolute;
      bottom: 0;
      width: 4px;
      height: 30px;
      background: #842963;
    }

    .line-01 {
      left: 26px;
      height: 26px;
    }

    .line-02 {
      left: 37px;
    }

    .line-03 {
      right: 26px;
      height: 26px;
    }

    .line-04 {
      right: 37px;
    }
  }
}

.neck {
  width: 105px;
  height: 60px;
  background: #BA4F8F;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 110px;
  border-radius: 20px;
  z-index: 10;
}

.neck-top {
  width: 125px;
  height: 92px;
  background: #efc400;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 106px;
  border-radius: 25px;
  z-index: 9;
}

.vest-top {
  width: 250px;
  height: 162px;
  background: #354255;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 110px;
  border-radius: 50px 50px 25px 25px;
  z-index: 8;
}

.vest-torso {
  width: 26px;
  height: 87px;
  background: #efc400;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 198px;
  z-index: 9;
}

.vest-waist {
  width: 80px;
  height: 16px;
  background: #efc400;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 269px;
  z-index: 9;
}

.shoulder-sides {
  width: 298px;
  height: 90px;
  background: #efc400;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 129px;
  z-index: 7;
  border-radius: 30px;
}

.shoulder-left,
.shoulder-right {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background: #BA4F8F;
  margin: 0 auto;
  top: 130px;
  z-index: 6;

  .arm {
    position: relative;
    top: 90px;
    width: 50px;
    height: 95px;
    background: #BA4F8F;
  }
}

.shoulder-left {
  left: -278px;
  right: 0;

  .arm {
    left: 20px;
    border-radius: 0px 0px 80px 200px;
  }
}

.shoulder-right {
  right: -278px;
  left: 0;

  .arm {
    right: -28px;
    border-radius: 0px 0px 200px 80px;
  }
}

.forearm-left {
  position: absolute;
  top: 235px;
  left: -162px;
  right: 0;
  margin: 0 auto;
  z-index: 300;
  background: #BA4F8F;
  width: 110px;
  height: 70px;
  transform: rotate(-11deg);
  border-radius: 0 30px 30px 0;

  .knuckle,
  .thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    background: #BA4F8F;
  }

  .thumb {
    top: -10px;
    left: 65px;
  }

  .knuckle-01 {
    top: -2px;
    left: 83px;
  }

  .knuckle-02 {
    top: 14px;
    left: 90px;
  }

  .knuckle-03 {
    top: 31px;
    left: 90px;
  }

  .knuckle-04 {
    top: 45px;
    left: 84px;
  }
}

.hips {
  position: absolute;
  top: 284px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 110px;
  height: 45px;
  z-index: 6;
  background: #354255;
  border-radius: 0px 0px 22px 22px;

  .leg-left,
  .leg-right {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 35px;
    background: #354255;
  }

  .leg-left {
    left: 5px;
  }

  .leg-right {
    right: 5px;
  }

  .boot-left,
  .boot-right {
    position: absolute;
    top: 85px;
    width: 45px;
    height: 48px;
    background: #efc400;
  }

  .boot-left {
    left: 3px;
    transform: rotate(-3deg);
  }

  .boot-right {
    right: 3px;
    transform: rotate(3deg);
  }

  .boot-left-top,
  .boot-right-top {
    position: absolute;
    top: 83px;
    width: 54px;
    height: 8px;
    background: #8f4b00;
    border-radius: 3px;
  }

  .boot-left-top {
    transform: rotate(-3deg);
    left: -3px;
  }

  .boot-right-top {
    transform: rotate(3deg);
    right: -3px;
  }

  .foot-left,
  .foot-right {
    position: absolute;
    top: 123px;
    width: 20px;
    height: 10px;
    background: #efc400;
  }

  .foot-left {
    left: -10px;
    border-radius: 20px 0 0 0;
  }

  .foot-right {
    right: -10px;
    border-radius: 0 20px 0 0;
  }
}

.gauntlet-container {
  position: absolute;
  top: 230px;
  right: 0;
  left: 160px;
  margin: 0 auto;
  background: #fda700;
  height: 80px;
  width: 95px;
  transform: rotate(10deg);
  border-radius: 20px 0 0 20px;
  z-index: 300;

  .thumb,
  .knuckle {
    width: 30px;
    height: 25px;
    background: #fda700;
    border-radius: 50%;
    position: absolute;
  }

  .knuckle {
    top: -2px;
    left: -5px;
  }

  .thumb {
    top: -12px;
    left: 19px;
    width: 24px;
    height: 25px;
  }

  .wrist {
    position: absolute;
    top: 0;
    left: 93px;
    width: 7px;
    height: 80px;
    transform: rotate(1deg);
    background: #fda700;

    .inner {
      width: 14px;
      height: 80px;
      background: #ffc800;
      position: absolute;
      top: 0;
      left: -14px;
    }
  }

  .stone-holder {
    border-radius: 12px;
    width: 18px;
    height: 10px;
    position: absolute;
    transform: rotate(2deg);
    background: #ffc800;

    .stone {
      width: 60%;
      height: 60%;
      border-radius: 30%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .stone-01 {
    top: 11px;
    left: 6px;

    .stone {
      background: #bf00ae;
    }
  }

  .stone-02 {
    top: 29px;
    left: 6px;

    .stone {
      background: #6b00f5;
    }
  }

  .stone-03 {
    top: 48px;
    left: 6px;

    .stone {
      background: #ff0000;
    }
  }

  .stone-04 {
    top: 65px;
    left: 6px;

    .stone {
      background: #ff2600;
    }
  }

  .stone-05 {
    top: 3px;
    left: 24px;
    width: 14px;

    .stone {
      background: #00c54f;
    }
  }

  .stone-06 {
    top: 31px;
    left: 36px;
    width: 33px;
    height: 35px;
    border-radius: 18px;

    .stone {
      border-radius: 50%;
      background: #f0ff00;
    }
  }
}
