<div class="thanos">
  <div class="face-container">
    <div class="eyebrow-left"></div>
    <div class="eyebrow-right"></div>
    <div class="eye-left">
      <div class="pupil"></div>
    </div>
    <div class="eye-right">
      <div class="pupil"></div>
    </div>
    <div class="mouth">
      <div class="tongue"></div>
      <div class="teeth-upper"></div>
      <div class="teeth-lower"></div>
    </div>
    <div class="ear-left"></div>
    <div class="ear-right"></div>
    <div class="chin">
      <div class="line line-01"></div>
      <div class="line line-02"></div>
      <div class="line line-03"></div>
      <div class="line line-04"></div>
    </div>
  </div>
  
  <div class="neck"></div>
  <div class="neck-top"></div>
  <div class="vest-top"></div>
  <div class="vest-torso"></div>
  <div class="vest-waist"></div>
  
  <div class="shoulder-sides"></div>
  <div class="shoulder-left">
    <div class="arm"></div>
  </div>
  <div class="forearm-left">
    <div class="thumb"></div>
    <div class="knuckle knuckle-01"></div>
    <div class="knuckle knuckle-02"></div>
    <div class="knuckle knuckle-03"></div>
    <div class="knuckle knuckle-04"></div>
  </div>
  <div class="shoulder-right">
    <div class="arm"></div>
  </div>
  
  <div class="gauntlet-container">
    <div class="knuckle"></div>
    <div class="thumb"></div>
    <div class="wrist">
      <div class="inner"></div>
    </div>
    <div class="stone-holder stone-01">
      <div class="stone"></div>
    </div>
    <div class="stone-holder stone-02">
      <div class="stone"></div>
    </div>
    <div class="stone-holder stone-03">
      <div class="stone"></div>
    </div>
    <div class="stone-holder stone-04">
      <div class="stone"></div>
    </div>
    <div class="stone-holder stone-05">
      <div class="stone"></div>
    </div>
    <div class="stone-holder stone-06">
      <div class="stone"></div>
    </div>
  </div>
  
  <div class="hips">
    <div class="leg-left"></div>
    <div class="leg-right"></div>
    <div class="boot-left"></div>
    <div class="boot-right"></div>
    <div class="boot-left-top"></div>
    <div class="boot-right-top"></div>
    <div class="foot-left"></div>
    <div class="foot-right"></div>
  </div>
</div>