@keyframes fadeInOut {
    0%{
        opacity: 0
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
      width: initial;
    }

    to {
      opacity: 0;
      width: 0;
    }
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
  
.snap-page {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    width: 100vw;

    &__thanos {
        animation: 3s ease-in-out 0s 1 fadeInOut;
        opacity: 0;
    }

    &__participants {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1150px;
        padding: 2rem;
        width: 100%;

        snp-card {
            cursor: pointer;
            height: 0%;
            margin-bottom: 1rem;

            &.disappear {
                animation: 3s ease-out 0s 1 fadeOut;
                opacity: 0;
                width: 0;
                height: 0;
                overflow: hidden;
            }
        }
    }

    &__container {
        align-items: center;
        display: inline-flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        width: 100%;
    }

    &__button {
        color: white;
        cursor: pointer;
        display: inline-flex;
        height: 64px;
        justify-content: center;
        line-height: 64px;
        margin: 2rem 0;
        position: relative;
        transition: all 0.3s;
        width: 256px;

        span {
            transform: scale(1, 1);
            transition: all 0.3s;
        }

        &:before,
        &:after {
            border: 1px solid rgba(255, 255, 255, 0.5);
            bottom: 0;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            transition: all 0.3s;
            width: 100%;
            z-index: 1;
        }

        &:hover{
            color: rgba(9, 255, 0, 0.5);

            &:before,
            &:after {
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                border: 1px solid rgba(9, 255, 0, 0.5);
                left: 96px;
                width: 64px;
            }

            &:after {
                animation-duration: 2s;
                animation-name: rotatecw;
            }

            &:before {
                animation-duration: 3s;
                animation-name: rotateccw; 
            }
        }
    }
}