<audio #laughAudio
  autoplay
  volume="1.0">
  <source src="/assets/laugh.wav" type="audio/wav">
</audio>
<main class="snap-page">
  <snp-thanos class="snap-page__thanos"></snp-thanos>

  <div
    class="snap-page__container container"
    *ngIf="avengers">
    <a
      class="snap-page__button"
      [@buttonAnimation]="state"
      (click)="snap()"><span>Snap!</span></a>
    
    <div
      class="snap-page__participants"
      [@cardsAnimation]="avengers.length">

      <snp-card
        [routerLink]="'/avenger/'+avenger.id"
        [hero]="avenger.hero"
        [name]="avenger.name"
        [hidden]="!avenger.visible"
        *ngFor="let avenger of avengers"></snp-card>
    </div>
  </div>
</main>

