@font-face {
    font-family: avengeance;
    src: url(assets/avengeance/AVENGEANCE_HEROIC_AVENGER.otf);
  }

$base-font-family: "Helvetica Neue", sans-serif;
$base-font-size: 16px !default;
$base-unit: 'rem' !default;
// @include normalize();

/* Globals */

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Tags */

html {
  box-sizing: border-box;
  font-family: $base-font-family; 
  font-size: $base-font-size;
}

html,
body {
  background-color: #222;
  color: white;
  height: 100%;
  margin: 0;
  width: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: avengeance, "Helvetica Neue", sans-serif;
    letter-spacing: .1rem;
}

main {
  padding: 1.5rem;
}
