<form 
  class="search"
  [class.open]="open"
  [formGroup]="registerForm" 
  (ngSubmit)="onSubmit()">
  <!-- <div class="form-group"> -->
    <input
      type="text"
      formControlName="name"
      class="form-control"
      class="search-box"
      placeholder="name"
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />

    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">First Name is required</div>
    </div>
  <!-- </div> -->
  <span class="search-button">
    <button class="search-icon"></button>
  </span>
</form>