$icon-color: #00FEDE;
$transition: all .5s ease;

.search {
  background-color: transparent;
  height: 100px;
  margin: 40px auto 0;
  overflow: hidden;
  position: relative;
  transition: $transition;
  width: 100px;

  &:before {
    transition: $transition;
  }

  &.open {
    min-width: 320px;
    max-width: 420px;
    width: 100%;

    &:before {
      background-color: $icon-color;
      content: '';
      display: block;
      height: 60px;
      margin: 20px 0 20px 30px;
      position: absolute;
      width: 3px;
    }
  }
}

.search-box {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 28px;
  height: 100%;
  padding: 20px 100px 20px 45px;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.search-button {
  cursor: pointer;
  display: block;
  height: 100px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  
  &:focus {
    outline: none;
  }
}

.search-icon {
  background-color: transparent;
  border: 3px solid $icon-color;
  border-radius: 60px;
  display: block;
  height: 60px;
  margin-left: 5px;
  position: relative;
  transition: $transition;
  width: 60px;
  
  &:focus {
    outline: none;
  }

  &:before {
    background-color: $icon-color;
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    left: 18px;
    top: 24px;
    transform: rotate(-45deg);
    transition: $transition;
    width: 3px;
  }

  &:after {
    background-color: $icon-color;
    content: '';
    display: block;
    height: 30px;
    left: 32px;
    position: absolute;
    top: 12px;
    transform: rotate(45deg);
    transition: $transition;
    width: 3px;
  }

  .open & {
    border-radius: 60px;
    height: 60px;
    margin: 0;
    width: 60px;

    &:before {
      height: 18px;
      left: initial;
      right: 22px;
      top: 23px;
      transform: rotate(52deg);
    }

    &:after {
      height: 18px;
      left: initial;
      right: 22px;
      top: 13px;
      transform: rotate(-230deg);
    }
  }
}